<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Movie</title>
    <title th:replace="components/head.html :: head"></title>
</head>
<body style="background-color: peachpuff;">
<div th:replace="components/navbar.html :: navbar"></div>

<div class="container">

    <h1>Create Movie</h1>

    <form th:action="@{/movies/create}" th:method="POST" style="width: 70%" class="rounded border border-primary"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="englishName">English Name</label>
                    <input required class="form-control" type="text" name="englishName" id="englishName">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea required class="form-control" name="description" id="description" cols="7" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="country">Country</label>
                    <input required class="form-control" type="text" name="country" id="country">
                </div>

                <div class="form-group">
                    <label for="language">Language</label>
                    <input required class="form-control" type="text" name="language" id="language">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input required class="form-control" type="number" name="duration" id="duration">
                </div>

                <div class="form-group">
                    <label for="releaseDate">Release Date</label>
                    <input required class="form-control" type="date" name="releaseDate" id="releaseDate">
                </div>

                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input required class="form-control" type="text" name="genre" id="genre">
                </div>

                <div class="form-group">
                    <label for="fileImage">Image</label>
                    <input required class="form-control" type="file" name="fileImage" id="fileImage" alt="movie-image">
                </div>

                <div class="form-group">
                    <label for="director">Director</label>
                    <select required class="form-control" name="director" id="director">
                        <option th:each="d : ${directors}" th:value="${d.id}"
                                th:text="${d.firstName} + ' ' + ${d.lastName}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="starring">Starring</label>
                    <select required class="form-control" name="starring" id="starring">
                        <option th:each="a : ${actors}" th:value="${a.id}"
                                th:text="${a.firstName} + ' ' + ${a.lastName}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="screenwriter">Screenwriter</label>
                    <select required class="form-control" name="screenwriter" id="screenwriter">
                        <option th:each="s : ${screenwriters}" th:value="${s.id}"
                                th:text="${s.firstName} + ' ' + ${s.lastName}"></option>
                    </select>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" id="submit-form" type="submit">Submit</button>
    </form>
</div>
</body>
</html>