<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <title th:replace="components/head.html :: head"></title>
</head>
<body style="background-color: peachpuff;">
<div th:replace="components/navbar.html :: navbar"></div>

<div class="container">

    <h1>Movies</h1>

    <table id="data-table" class="table table-responsive text-center">
        <thead>
        <tr>
            <th>Image</th>
            <th>English Name</th>
            <th>Duration</th>
            <th>Language</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${movies}">
            <td class="align-middle"><img style="max-width:100px" th:src="@{/static/img/movies/{path}(path=${m.image})}"
                     alt="movie-image"></td>
            <td class="align-middle"><p th:text="${m.englishName}"></p></td>
            <td class="align-middle"><p th:text="${m.duration}"></p></td>
            <td class="align-middle"><p th:text="${m.language}"></p></td>
            <td class="align-middle"><p th:text="${m.releaseDate}"></p></td>
            <td class="align-middle"><p th:text="${m.genre}"></p></td>
            <td class="align-middle">
                <a class="btn btn-primary" th:href="@{/movies/show/{movieId}(movieId=${m.id})}">Show</a>
                <a th:if="null != ${session.admin}" th:href="@{/movies/edit/{movieId}(movieId=${m.id})}"
                   class="btn btn-primary">Edit</a>
                <a th:if="null != ${session.admin}" class="btn btn-danger delete-movie" th:value="${m.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:if="null != ${session.admin}" class="btn btn-primary" th:href="@{/movies/create}">Create Movie</a>
</div>

<script>
    $(document).ready(function () {
        // Table paging
        $('#data-table').dataTable();

        $('td').css('background-color', 'beige');

        $('.delete-movie').click(function () {
            var d = this.getAttribute("value");
            var column = this.parentElement;
            var row = column.parentElement;
            $.ajax({
                url: '/movies/delete/' + d.toString(),
                type: 'GET',
                success: function () {
                    row.remove();
                },
                error: function () {
                    alert('there was an issue');
                }
            })
        });
    });
</script>
</body>
</html>