<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Movie Review</title>
    <title th:replace="components/head.html :: head"></title>
</head>
<body style="background-color: peachpuff;">
<div th:replace="components/navbar.html :: navbar"></div>

<div class="container">

    <h1>Edit Movie Review</h1>

    <form th:action="@{/movies/show/{movieId}/movie_review/edit(movieId=${movie})}" style="width: 50%" method="post">
        <div class="form-group">
            <label for="rating">Rating</label>
            <input th:value="${review.rating}" class="form-control" type="number" step="any" min="1" max="5" name="rating" id="rating">
        </div>
        <div class="form-group">
            <label for="comments">Comment</label>
            <textarea class="form-control" name="comments" id="comments" cols="30" rows="10"></textarea>
            <p id="comments-value" hidden th:text="${review.comments}"></p>
        </div>

        <button class="btn btn-primary" id="submit-form" type="submit">Save</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        var comment = $('#comments-value').text();
        $('#comments').val(comment);
    });
</script>
</body>
</html>