<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <title th:replace="components/head.html :: head"></title>
</head>
<body style="background-color: peachpuff;">
<div th:replace="components/navbar.html :: navbar"></div>

<div class="container">

    <h1>Login</h1>

    <form method="post" id="login-form" style="width: 50%" class="rounded border border-primary">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>
        <button class="btn btn-primary" id="submit-form" type="submit">Login</button>
    </form>
</div>
</body>
</html>